.SideTrends {
  position: absolute;
  border-left: 1px solid lightgrey;
  width: 28%;
  display: none;
  right: 0;
  overflow-y: scroll;
  height: 100vh;
}

h2 {
  margin-left: 40px;
}

/* ATTENZIONE AL MOBILE FIRST */
@media screen and (min-width: 800px) {
  .SideTrends {
    display: block;
  }
}
