.Header {
  display: flex;
  flex-direction: column;
}

.Header__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid lightgrey;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ccc;
}

.Header__up__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

.Header__up img {
  height: 25px;
  height: 25px;
  cursor: pointer;
}

.sparkles {
  color: #01b5f1;
}

.Header__down {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 12px 12px;
  border-bottom: 1px solid lightgrey;
}

.Header__down input {
  padding: 0 0 0 10px;
  width: 80%;
  height: 28px;
  border: 0;
  background-color: #eaeff1;
  border-radius: 24px;
  outline: none;
}

.Header__down--profilo {
  width: 35px !important;
  height: 35px !important;
  border: 1px solid;
  border-radius: 100%;
}

.Header__down img {
  height: 25px;
  height: 25px;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .Header__hamburger {
    display: none;
  }
}
