.SideMenu {
  align-items: start;
  border-right: 1px solid lightgrey;
  width: 25%;
  font-weight: bold;
  padding: 0 30px;
  font-size: 0.9rem;
  display: none;
}

.SideMenu ul {
  padding: 0 30px;
  list-style-type: none;
}

.SideMenu ul li {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.SideMenu ul li:hover {
  color: #01b5f1;
}

.SideMenu ul li img {
  width: 25px;
  height: 25px;
}

.hamburger-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  list-style-type: none;
  gap: 10px;
}

@media screen and (min-width: 800px) {
  .SideMenu {
    display: flex;
    flex-direction: column;
  }
}
